@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #07080f;
  color: #f0f0f8;
  font-family: 'Sora', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #07080f;
}

::-webkit-scrollbar-thumb {
  background: #2a2a3a;
  border-radius: 99px;
}